.textini {
		font-family:Tahoma, Geneva, sans-serif; color:#333;
		font-size:16px;
	border-radius: 5px; background-color:#FFF; border-color:#FFF; text-align:left; border-style:hidden;
	}	
#object{
	position:absolute;
	height:200px;
	width:500px;
	margin:0px 0px 0px 900px;
	}
#public_detail {
	position:absolute;
	margin: 220px 0px 0px 0px;
	padding: 2px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	size: 5px;
	width: 320px;
	height: 250px;
	}


<!--for index image slider only-->

/* For generic page styles. Not for sliders. */

body {background:#F6F6F6;font:normal 0.9em Arial; margin:0; padding:0; padding-bottom:60px;}
h2 {display:inline;}
.div1, .div2 {width:700px;margin:0 auto;}
.div1 {margin-top:30px;margin-bottom:60px;text-align:center;line-height:20px;}
.div1 P {font-size:18px;}
.div1 a, .div2 a {color:#07C; }
.div1 a {margin:0 8px;}
.div1 a.current {color:black; text-decoration:none;}
.div2 {margin-top:70px;}
.div2 li {padding-top:6px;padding-bottom:6px;}
.green {color:Green;}
.cn {font-family: "Courier New", Georgia;}
#status {display:inline-block; margin-left:26px;line-height:50px;height:50px;vertical-align:middle;}

.code
{
    border: dashed 1px #BCBCCB; padding:8px 12px; background-color: #F3F3F9; white-space:pre; font-family:"Courier New", Georgia;
    font-size:12px; margin:6px 0;overflow:auto; 
}





#caption{
	position:absolute;
	margin:220px 0px 0px 400px;
	padding:5px;
	height:70px;
	width:650px;
	background-color:#0F9;
	border-top-right-radius: 60px;
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 20px rgba(0,0,0,.5);
	}
	#caption2{
	position:absolute;
	margin:590px 0px 0px 400px;
	padding:5px;
	height:70px;
	width:650px;
	background-color:#0F9;
	border-bottom-right-radius: 200px;
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 20px rgba(0,0,0,.5);
	}
#caption3{
	text-shadow:#999;
	position:absolute;
	margin:0px 0px 0px 0px;
	padding:5px;
	height:50px;
	width:690px;
	background-color:#0F9;
	border-radius:5px;
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 20px rgba(0,0,0,.5);
	}
	#term_caption{
	text-shadow:#999;
	position:absolute;
	padding:0px;
	height:50px;
	width:1115px;
	background-color:#0F9;
	border-radius:5px;
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 20px rgba(0,0,0,.5);
	}
.button {
	font-family:Georgia, "Times New Roman", Times, serif; color:#333;
	border-radius:10px; background-color: #9C6; padding: 7px;
	}	
.button:hover {
	border-radius:10px; background-color:#9C3; padding: 7px;
	}			  
.text {
	border-radius: 5px;
	 background-color: #FFC; padding: 5px;
	 font-family:Georgia, "Times New Roman", Times, serif; 5px;
	}
.text1 {
	color:#FFF;
	border-radius: 5px; background-color: #9C9; padding: 5px;
	font-family:"Courier New", Courier, monospace; 5px;
	}	
.text2 {
	color: #666;
	 padding: 5px;
	 font-family:Georgia, "Times New Roman", Times, serif;
	}				  
 

#bodybox {
	border-top-left-radius:10px; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px; 
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
	padding: 20px;
	
	width: auto;
	height: 370px;
	padding: 0px;
	margin: 230px 0px 0px 400px;
	position: absolute;
	}
	
	
#handicraft_body{
	border-top-left-radius:10px; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px; 
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
	padding: 10px;
	
	width: 1200px;
	height: 490px;
	padding: 0px;
	margin: 210px 0px 0px 0px;
	position: absolute;
	background-color:#999;
	}
		
#bodybox2 {
	border-top-left-radius:10px; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px; 
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
	padding:15px;
	
	width: 920px;
	height: 500px;
	margin: 230px 0px 0px 400px;
	position: absolute;
	}	
	#bodybox3 {
	border-top-left-radius:10px; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px; 
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
	padding: 20px;
	
	width: auto;
	height: 370px;
	padding: 0px;
	margin: 230px 0px 0px 310px;
	position: absolute;
	}
	#term_body {
	border-top-left-radius:10px; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px; 
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
	padding: 20px;
	
	width: 1100px;
	height: 370px;
	padding: 10px;
	margin: 230px 0px 0px 210px;
	position: absolute;
	}
.textbox {
	border-radius: 5px; background-color: #CCC; padding: 2px;
	}			  

.register  {
	font-family:Georgia, "Times New Roman", Times, serif; color:#00F; size:20px; alignment-adjust:central;
	margin: 135px 0px 0px 10px;
	position:absolute;
	border-radius:30px; 
	width: 180px;
	height: 80px;
	background-image:url(../image/register.png);
	}	
.register:hover  {
	font-family:Georgia, "Times New Roman", Times, serif; color:#00F; size:20px; alignment-adjust:central;
	margin: 140px 0px 0px 10px;
	position:absolute;
	border-radius:30px; 
	width: 180px;
	height: 80px;
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	
	}	
.textbox1 {
	margin: 60px 0px 0px 120px;
	width: 250px;
	border-radius: 5px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; color:#333;
	size:auto;
		}		
.text {
	position:relative;
	margin: 0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	size:20px;
	height:40px;
		box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 2px 10px rgba(0,0,0,.5);
				  border-top-right-radius:90px;
				  }
#leftbox{
	position:absolute;
	border-right-style:double;
	border-right-color:#666;
	width: 350px;
	height: 400px;
	padding: 0px;
	margin: 210px 0px 0px 0px;
		}
		#leftbox2{
	position:absolute;
	border-right-color:#666;
	width: 350px;
	height: 400px;
	padding: 0px;
	margin: 210px 0px 0px 0px;
		}
#securitybox {
	border-top-left-radius:20px; 
	border-bottom-left-radius: 40px;
	border-bottom-right-radius:40px;
	border-top-right-radius:20px; 
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
	padding: 20px;
	
	width: 300px;
	height: 220px;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	position: absolute;
	}

#header {
	margin: 0px 0px 0px 0px;
	height:200px;
	width: 1400px;
	padding: 0px;
	position:absolute;
	border-radius: 10px;
background: -webkit-linear-gradient(top, green 1%,white 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, green 1%,white 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, green 1%,white 99%); /* IE10+ */
	background: linear-gradient(top, green 1%,white 99%s); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	background: -moz-linear-gradient(top, green,white);
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
								 }
								 
.currentview{
	color: white;
background-color: rgba(0,0,0,0.4); 
border-radius: 10px;
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 -15px 30px rgba(0,1,0,0.4),
                  0 5px 10px rgba(0,0,0,2.5);
	}
									 
#nav {
	font-family:Tahoma, Geneva, sans-serif;
margin: 150px 0px 0px 40px;
padding: 2px 6px 0;


line-height: 100%;
display: inline-block;
width:auto;
}
#nav li {
margin: 0 5px;
padding: 0 0 2px;
float: left;
position: relative;
list-style: none;
}
#nav a {
font-weight: bold;
color:#FFF;
text-decoration: underline;
display: block;
padding: 15px 20px;
margin: 0;
}

#nav .current a, #nav li:hover > a {
	color: white;
	background-color: rgba(0,0,0,0.4); 
border-radius: 10px;
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 -15px 30px rgba(0,1,0,0.4),
                  0 5px 10px rgba(0,0,0,2.5);
	
	
	
	
}


#nav ul li:hover a, # nav li:hover li a {
	background: none;
	border: none
	display:none;
	
}
#nav ul a:hover {
	background-color: rgba(0,0,0,0.4); 
border-radius: 10px;
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 -15px 30px rgba(0,1,0,0.4),
                  0 5px 10px rgba(0,0,0,2.5); 


} 
#nav li:hover  > ul { display: inline-block; position: fixed;}
#nav ul {
	display: none;
	position: absolute;
	top: 70px;
	left: 20px;	
	
}
.hovereffect a:hover{
	display: none;
	position: absolute;
	top: 70px;
	left: 20px;	
	color:#666;
	}



.navpic:hover a{
	
		
	-webkit-transform: translateX(60px) rotate(360deg);
	-moz-transform: translateX(60px) rotate(90deg);
	-o-transform: translateX(60px) rotate(90deg);
	-ms-transform: translateX(60px) rotate(90deg);
	transform: translateX(60px) rotate(90deg);
		
	-webkit-backface-visibility: hidden;
	
	
	image-shadow:0 0 20px white;
	-moz-box-shadow:0 0 20px white;
	-webkit-box-shadow:0 0 20px white;
	
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	
	transition: background-color .5s, image-shadow 1s, transform .5s;
	-moz-transition: background-color .5s, -moz-box-shadow 1s, -moz-transform .5s;
	-webkit-transition: background-color .5s, -webkit-box-shadow 1s, -webkit-transform .5s;
	-o-transition: background-color .5s, -o-box-shadow 1s, -o-transform .5s;

}
				  
				  
				  
				  
#footer {
	margin: 710px 0px 0px 0px;
	height:150px;
	width: 1400px;
	padding: 0px;
	position:absolute;
	border-radius: 10px;
background: -webkit-linear-gradient(top, white 0%,green 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, white 0%,green 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, white 0%,green 99%); /* IE10+ */
	background: linear-gradient(top, white 0%,gree 99%s); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	background: -moz-linear-gradient(top, white,green);
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
	}
#footer2 {
	margin: 620px 0px 0px 0px;
	height:150px;
	width: 1400px;
	padding: 0px;
	position:absolute;
	border-radius: 10px;
background: -webkit-linear-gradient(top, white 0%,green 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, white 0%,green 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, white 0%,green 99%); /* IE10+ */
	background: linear-gradient(top, white 0%,gree 99%s); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	background: -moz-linear-gradient(top, white,green);
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
	}

	#footer3 {
	margin: 800px 0px 0px 0px;
	height:150px;
	width: 1400px;
	padding: 0px;
	position:absolute;
	border-radius: 10px;
background: -webkit-linear-gradient(top, white 0%,green 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, white 0%,green 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, white 0%,green 99%); /* IE10+ */
	background: linear-gradient(top, white 0%,gree 99%s); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	background: -moz-linear-gradient(top, white,green);
	box-shadow: inset 0 0px rgba(255,255,255,0.2), 
            inset 0 0px 0px rgba(0,1,0,0.4),
                  0 5px 30px rgba(0,0,0,.5);
	}
.icon1{
	position: absolute;
	margin: 55px 0px 0px 20px; 
	height:50px; 
	width:70px;
	}
.icon1:hover{
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
.icon2{
	position: absolute; 
	margin: 55px 0px 0px 100px;
	 height:50px;
	 width:70px;
	}
.icon2:hover{
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
.icon3{
	position: absolute;
	 margin: 55px 0px 0px 180px;
	  height:50px;
	  width:70px;
	}
.icon3:hover{
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}


.logo {position:absolute;
	height:180px;
	width: 260px;
	margin: 0px ;
}

